build/legal.html
<!DOCTYPE html><html lang="de" class="no-js"><head><!-- Swisscom PNT UI Kit Landing Page -->
<!-- Developer: Marcel Hadorn for Duotones LLC (duotones.ch) -->
<!-- All HTML/CSS code (c)2016 Duotones LLC. all rights reserved -->
<!-- Design, Data and Content (c)2016 Swisscom AG. --><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><title>UI Kit</title><meta name="description" content="Mit dem User Interface Kit von PNT für Designer und Frontend Entwickler baust du im Handumdrehen responsive und konsistente Swisscom Web-Apps - beste Usability inklusive."><meta name="author" content="Daniel Ehrensperger, Tobias Walser und Bruno Roth for Swisscom AG"><meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><link rel="icon" type="image/png" href="favicon.ico"><link rel="stylesheet" href="assets/css/normalize.css"><link rel="stylesheet" href="assets/css/style.css"><script src="assets/js/vendor/modernizr-2.8.3.min.js"></script><!--script(src="//tags.tiqcdn.com/utag/swisscom/main/#{env}/utag.sync.js")--></head><body class="cu"><!--[if lt IE 8]><p class="browsehappy">You are using an <strong>outdated</strong> browser.
Please <a href="http://browsehappy.com/">upgrade your browser</a>
to improve your experience.</p><![endif]--><!--googleoff: all--><div class="navigation inverted"><div class="container"><h2 class="shift"> <a href="/">UI Kit</a></h2><div class="hamburger"><span class="bar"></span><span class="bar"></span><span class="bar"></span></div><div id="nav-drawer"><ul id="nav" class="nav"><li class="resources"><a href="/#resources" class="link">Ressourcen</a></li><li class="inspiration"><a href="/#inspiration" class="link">Inspiration</a></li><li class="principles"><a href="/#principles" class="link">Prinzipen</a></li><li class="testimonials"><a href="/#testimonials" class="link">Feedback</a></li><li class="newsletter"><a href="/#newsletter" class="link">Newsletter</a></li></ul></div></div></div><div id="interlude" class="shift legal"><div class="container"><h1>Impressum</h1></div></div><div id="legal" class="shift"><div class="container centered"><div class="wide"><h4>Kontaktadresse:</h4><p>Swisscom AG <br> Genfergasse 14 <br>3000 Bern <br>Schweiz <br><br>Internet: <a href="http://www.swisscom.com">www.swisscom.com</a> <br>E-Mail: <a href="mailto:prototyping.rocks@swisscom.com?Subject=UI-Kit">prototyping.rocks@swisscom.com</a></p><h4>Handelsregistereintrag:</h4><p>Eingetragener Firmenname: Swisscom (Schweiz) AG <br>MWST Nummer: CHE-101.654.423 <br>Handelsregister-Nr. CHE-101.654.423</p><h4>Haftungsausschluss:</h4><p>Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen. <br>Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.</p><h4>Haftung für Links:</h4><p>Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.</p><h4>Urheberrechte:</h4><p>Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der Website gehören ausschliesslich der Firma Swisscom AG oder den speziell genannten  Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der Urheberrechtsträger im Voraus einzuholen.</p><h4>Datenschutz:</h4><p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglicht. Die durch den Cookie erzeugten Informationen über Ihre Benutzung diese Website (einschliesslich Ihrer IP-Adresse) wird an einen Server von Google in den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Ihre IP-Adresse mit anderen Daten der Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu dem zuvor benannten Zweck einverstanden. <br><br><a href="http://www.google.com/analytics/terms/de.html">Google Analytics Bedinungen</a></p></div><div class="narrow"><div style="margin: 0px 25px 0 25px"><h4>© Development<a title="Duotones" href="http://duotones.ch" target="_blank"></a><img src="http://duotones.ch/assets/images/dtnslogo.png" alt="Duotones" width="200" height="25" style="display: block; margin-top: 20px"></h4><br><address></address>Duotones GmbH<br>Falkenweg 7<br>3012 Bern - Switzerland<br><br><a target="_blank">031-536-0245</a><br><a title="Duotones" href="http://duotones.ch" target="_blank">http://duotones.ch</a></div></div></div></div><footer><div class="container"><div class="brand shift narrow"><a href="#home"><img src="assets/img/scs_logo.png" alt="Swissom" class="regular"/></a></div><div class="copy">© 2016 Swisscom AG •  &nbsp;<a href="/legal.html">Impressum</a></div></div></footer><!--googleon: all--><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><!--script(src="assets/js/vendor/jquery-1.11.0.min.js")--><script src="assets/js/vendor/swiper.jquery.min.js"></script><script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.2.8/jquery.form-validator.min.js"></script><script src="assets/js/vendor/jquery.ajaxchimp.js"></script><script src="assets/js/plugins.js"></script><script src="assets/js/main.js"></script><!--script(type="text/javascript" src="https://duotones.atlassian.net/s/c82aa8de85628af08b7929eb4d18abd3-T/en_USzcxr0j/72000/b6b48b2829824b869586ac216d119363/2.0.12/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=4a4a35af")--><script>(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
e=o.createElement(i);r=o.getElementsByTagName(i)[0];
e.src='//www.google-analytics.com/analytics.js';
r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
ga('create','UA-76950019-2');ga('send','pageview');</script></body></html>

public/legal.jade
//- .swiper-container.swiper-container-v.shift
//-     .swiper-wrapper
//-         != partial("_start")
//-         != partial("_sections")

#interlude.shift.legal
    .container
        h1 Impressum
#legal.shift
    .container.centered
        .wide
            each s in public._data.legal.sections
                h4 !{s.title}
                p !{s.text}

        .narrow
            div(style='margin: 0px 25px 0 25px;')
                h4 © Development
                    a(title='Duotones', href='http://duotones.ch', target='_blank')
                    img(src='http://duotones.ch/assets/images/dtnslogo.png', alt='Duotones', width='200', height='25', style='display: block; margin-top: 20px;')
                br
                address
                | Duotones GmbH
                br
                | Falkenweg 7
                br
                | 3012 Bern - Switzerland
                br
                br
                a(target='_blank') 031-536-0245
                br
                a(title='Duotones', href='http://duotones.ch', target='_blank') http://duotones.ch
